<%= turbo_frame_tag dom_id(@card) do %>
  <div class="card bg-base-100 border p-3">
    <%= form_with model: @card, url: board_card_path(@card, board_id: @card.board),
                  local: false, data: { turbo_frame: dom_id(@card) } do |f| %>
      <%= f.text_field :title, class: "input input-bordered input-sm w-full mb-2" %>
      <%= f.text_area :description, rows: 3, class: "textarea textarea-bordered w-full mb-2" %>
      <div class="flex gap-2">
        <%= f.submit "Save", class: "btn btn-primary btn-xs" %>
        <%= link_to "Cancel", board_path(@card.board),
                    class: "btn btn-ghost btn-xs", data: { turbo_frame: dom_id(@card) } %>
      </div>
    <% end %>
  </div>
<% end %>